body {
    background-color:rgb(87, 85, 85);
    font-family: Arial, sans-serif;
  }
  
  .cart {
    background-color: rgb(143, 165, 165);
    max-width: 600px;
    margin: auto;
    padding: 100px;
    border: 10px solid #ccc;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 20px;
    border: 3px solid #ddd;
  }
  
  .item-info {
    flex: 1;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .quantity-controls button {
    padding: 5px;
    margin: 0 5px;
  }
  
  .heart {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .heart.liked {
    color: red; /* Liked heart icon color */
  }
  
  .total {
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
  }
  